.video-container {
    background: black;
    color: white;
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
}

.video-title {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    overflow: hidden;
    padding: 2.5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    position: absolute;
    text-overflow: ellipsis;
	text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    transition: all .15s;
    width: calc(100% - 25px);
    max-width: calc(100% - 25px);
    white-space: nowrap;
    z-index: 1;
}

.video-controls {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transition: all .15s;
    width: 100%;
    z-index: 1;
}

.buttons {
    padding: 5px;
    width: 100%;
}

.buttons button {
    background: none;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    outline: 0;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
}

.buttons button:before {
    color: white;
    display: inline-block;
    font-size: 16px;
    height: 18px;
    width: 18px;
    font-weight: 900;
}

.buttons button.play img:last-child {
    display: none;
}

.buttons button.pause img:first-child {
    display: none;
}

.buttons button.muted img:first-child {
    display: none;
}

.buttons button.sound img:last-child {
    display: none;
}

.buttons button.svg-icon:before {
    color: white;
    font-size: 18px;
    font-weight: 900;
    transform: translateY(-5%);
    -ms-transform: translateY(-5%);
}

.progress-bar {
    background-color: transparent;
    cursor: pointer;
    height: 5px;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(0.5px);
}

.progress-slider {
    z-index: 2;
}

.progress-state {
    background-color: #00b3ff; 
    border-radius: 1.61803398875px;
    height: 5px;
    width: 0;
    z-index: 1;
    display: block;
    position: absolute;
}

.progress-bar input[type=range] {
    background: grey; 
    border-color: grey;
    border-radius: 1.61803398875px;
    color: grey;
    cursor: pointer;
    height: 5px;
    margin: 0;
    width: calc(100% + 5px);

    -webkit-appearance: none;
    -moz-appearance: none;
}

.progress-bar input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    -webkit-appearance: none !important;
}

.progress-bar input[type=range]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
}

.progress-bar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #ffffff;
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 4px;
}

.progress-bar input[type=range]::-moz-range-progress {
    background-color: #00b3ff; 
    border-radius: 1.61803398875px;
    height: 5px;
}

.volume-slider input[type=range] {
    background: transparent;
    width: 100%;
    -webkit-appearance: none;
}

.volume-slider input[type=range]::-moz-range-track {
    background: white; 
    border-color: white;
    border-radius: 1.61803398875px;
    color: white;
    cursor: pointer;
    height: 5px;
    transform: translateY(2.5px);
    width: 100%;
}

.volume-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    /* transform: translateY(10px); */
    border-radius: 1.61803398875px;
    height: 5px;
    background: white; 
    border-color: white;
    color: white;
}

.volume-slider input[type=range]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    transform: translateY(2.5px);
}

.volume-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #ffffff;
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
    transform: translateY(-2.5px);
    border-radius: 5px;
}

.volume-slider input[type="range"]::-moz-range-progress {
    background-color: #00b3ff; 
    transform: translateY(2.5px);
    height: 5px;
    border-radius: 1.61803398875px;
}

.time-label {
    font-size: 14px;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translateY(-30%);
    -ms-transform: translateY(-30%);
}

.icon {
    display: block;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(19deg) brightness(111%) contrast(101%);
    height: 25px;
    overflow: hidden;
    transform: translateY(5%);
    -ms-transform: translateY(5%);

    width: 25px;
}

.none {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: 600    ;
}

.volume-slider {
    width: 75px;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.dropup {
    position: relative;
    display: block;
}

.dropup-content {
    background-color: rgba(28,28,28,0.9);
    border-radius: 1.61803398875px;
    bottom: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    left: -120px;
    min-width: 190px;
    width: auto;
    z-index: 1;
}

.dropup-content a {
    display: block;
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    height: 20px;
    transition: all .15s;
}

.dropup-content a:hover {
    background-color: rgba(70,70,70,0.4);
}

.captions {
    position: absolute;
    width: 100%;
    height: 24px;

    bottom: 90px;
    z-index: 0;
    text-align: center;
    align-content: center;
    background: transparent;
    transition: all .15s;
}

#caption {
    font-size: 20px;
    background: rgba(8, 8, 8, 0.75) none repeat scroll 0% 0%;
    padding: 2.5px 10px;
    padding-bottom: 5px;
    border-radius: 1.61803398875px;
    max-width: 70%;
    height: auto;
    position: relative;
    display: none;
    z-index: 0;
}

.sep {
    margin: 0;
}

.st-opt {
    display: none;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.video-container video::cue {
    color: transparent !important;
    display: none !important;
}

.settings {
    top: 50%;
    transform: translateY(10%) !important;
}